{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock%}
{% block stylesheets %}
    <link href="{{ asset('bundles/bionicuniversitycontact/css/frm.css') }}" 
          type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <header>
        <h1>Contact us</h1>
             
    </header>
{#  flash message output  #}    
   {% for flashMessage in app.session.flashbag.get('bionic_contactus') %}
        <p class="contactus-notice">
        {{ flashMessage }}
        </p>
   {% endfor %}

      
    <form action="{{ path('bionic_contactus') }}" method="post" class="contact">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock%}

